<div class="announce-section">
  <div class="container">
    <div class="announce-inner">
      <div class="announce-label">{{ lang.t('announce.label') }}</div>
      <div class="announce-ticker">
        <div class="announce-ticker-inner">
          @for (t of data.tickers(); track t.id) {
            @if (t.link) {
              <a [href]="t.link" class="announce-item">{{ t.text }}</a>
            } @else {
              <span class="announce-item">{{ t.text }}</span>
            }
          }
          @for (t of data.tickers(); track t.id) {
            @if (t.link) {
              <a [href]="t.link" class="announce-item">{{ t.text }}</a>
            } @else {
              <span class="announce-item">{{ t.text }}</span>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
