<app-lang-bar></app-lang-bar>
<app-navbar></app-navbar>
<app-hero></app-hero>
<app-ticker></app-ticker>
<app-founders></app-founders>
<app-mission-vision></app-mission-vision>
<app-president-note></app-president-note>
<app-org-chart></app-org-chart>
<app-cm-gallery></app-cm-gallery>
<app-bhavan></app-bhavan>
<app-past-presidents></app-past-presidents>
<app-events></app-events>
<app-gallery></app-gallery>
<app-directory></app-directory>
<app-footer></app-footer>

<!-- Lightbox -->
<div class="lightbox" id="lightbox" (click)="closeLb($event)">
  <button class="lightbox-close" id="lbClose">✕</button>
  <img id="lbImg" src="" alt="Preview">
</div>
